body {
    /* background: linear-gradient(to right, #1F487E , #93A6C0); */
}
.menu-content{
  padding-left: 70px;
  grid-area: menu-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3,auto);
  grid-gap: 1em;
}

.title {
  text-align: center;
  font-size: 92px;
}

.design {
  border: 1px solid #000;
  text-align: center;
  border-radius: 25px;
  color: black;
  font: bold 24px/45px italic, Sans-Serif;
  letter-spacing: -1px;
  /* background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7); */
  padding: 10px;
}
