<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/login.css">


  <!-- Load Vollkorn font -->
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<div class="main-wrapper" id="content">
  <div class="header">
    <% if current_user %>
    <ul>
      <li> <a href="/">Home</a></li>
      <li> <a href="/menu">Menu</a></li>
      <li> <a href="/logout">Logout</a></li>
    </ul>
    <% else %>
      <ul>
        <li> <a href="/">Home</a></li>
        <li> <a href="/menu">Menu</a></li>
        <li> <a href="/login">Login</a></li>
        <li> <a href="/auth/create">Sign up</a></li>
      </ul>

    <% end %>
  </div>
  <div class="bg-splash"></div>

  <% flash.keys.each do |type| %>
    <%= flash[type] %>
  <% end %>
  <%= yield %>

  <div class="footer">
    <ul>
      <li> Address: 1234 Food Avenue </li>
      <li> Phone: (604) 123-4567 </li>
    </ul>
  </div>
</div>
</body>
</html>
