<form action="/" method="post">
  <input type="text" name="name" placeholder="USERNAME">
  <input type="text" name="password" placeholder="PASSWORD">
  <input type="text" name="password_confirmation" placeholder="CONFIRM PASSWORD">

  <input type="submit" name="submit" value="submit">
</form>
