<body>
  <div class="main-content">
    <ul class="listing">
     <li class="wide">
       <h2>Who are we?</h2>
       <div class="body">
         <p>
           This is where the restaurant history and relevant information
           goes. Not the really practical stuff though just the random
           pseudo inspirational stuff that's supposed to make you wanna eat
           their food and whatever.
         </p>
       </div>
      </li>
      <li>
       <h2>About Us</h2>
       <div class="body">
         <p>
           Here we'll have stuff about opening/closing hours,
           telephone number and address, and maybe a cool little
           mappy thing cuz we're in the 21st century and all.</p>
       </div>
      </li>
    </ul>
  </div>
</body>
</html>
